<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examtimer1.examtimer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/timer_icon_2"
        android:label="재수 없는 타이머"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>
        <activity
            android:name="com.examtimer1.Splash"
            android:label="재수 없는 타이머"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.examtimer1.MainActivity"></activity>
        <activity android:name="com.examtimer1.SubjectTimer.SubjectTimer_Korean"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.SubjectTimer.SubjectTimer_English"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.SubjectTimer.SubjectTimer_math"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.SubjectTimer.SubjectTimer_science"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.SubjectTimer.SubjectTimer_foreignLanguage"></activity>
        <activity android:name="com.examtimer1.TotalTimer.TotalTimer_Korean"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.TotalTimer.TotalTimer_breaktime3"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.TotalTimer.TotalTimer_breaktime1"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.TotalTimer.TotalTimer_breaktime4"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.TotalTimer.TotalTimer_breaktime_after_history"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.TotalTimer.TotalTimer_breaktime_after_science1"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.TotalTimer.TotalTimer_English"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.TotalTimer.TotalTimer_foreignLanguage"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.TotalTimer.TotalTimer_history"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.TotalTimer.TotalTimer_science1"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.TotalTimer.TotalTimer_science2"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.TotalTimer.TotalTimer_math"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.TotalTimer.TotalTimer_lunchtime"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.Record.Record_Korean"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.Record.Record_math"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.Record.Record_English"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.Record.Record_history"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.Record.Record_science1"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.Record.Record_science2"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.Record.Record_foreignLanguage"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.Record.Record_science"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.Record.Record_English_total"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.Record.Record_English_only_reading"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.Record.Record_science_total"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.Record.Record_total"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.examtimer1.Record.Record_total_specific"
            android:screenOrientation="portrait"></activity>
    </application>
</manifest>